# Numbers and more in Python!

In this lecture, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between Python 2 vs 3 in division
    4.) Object Assignment in Python

## Types of numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Throughout this course we will be mainly working with integers or simple float number types.

Here is a table of the two main types we will spend most of our time working with some examples:

<table border = “1“>
<caption>Numbers in Python</caption> 
<tr>
    <th>Examples</th> <th>Number "Type"</th>
</tr>
<td>1,2,-5,1000</td> <td>Integers</td> 
<tr>
</tr>
<td>1.2,-0.5,2e2,3E2</td> <td>Floating-point numbers</td> 
<tr>
</tr>
 </table>

### Basic Arithmetic

In [28]:
# Addition
2+1

3

In [29]:
# Subtraction
2-1

1

In [30]:
# Multiplication
2*2

4

In [31]:
# Division
3/2

1.5

### <font color='red'>Python 3 Alert!</font>

**Whoa! What just happened? Last time I checked, 3 divided by 2 is equal 1.5 not 1!**

In Python 2, the / symbol performs what is known as "*classic*" division, this means that the decimal points are truncated (cut off). In Python 3 however, a single / performs "*true*" division. So you would get 1.5 if you had inputed 3/2 in Python 3.

So what do we do if we are using Python 2 to avoid this?

There are two options:

In [32]:
# Specifying one of the numbers as a float (either number):
print(3.0/2)
print(3/2.0)

1.5
1.5

We could also "cast" the type using a function that basically turns integers into floats. This function, unsurprisingly, is called float().

In [33]:
# Use this float() function to cast integers as floats (either number):
print(float(3)/2)
print(3/float(2))

1.5
1.5

One more "sneak preview" we can use to deal with classic division in Python 2 is importing from a module called __future__. When you import division from the __future__ you won't need to worry about classic division occurring anymore anywhere in your code!

This is a module in Python 2 that has Python 3 functions, this basically allows you to import Python 3 functions into Python 2.

In [34]:
from __future__ import division
3/2

1.5

### Arithmetic continued

In [35]:
# Powers
# note 2^3 doesn't work
2**3

8

In [36]:
# Can also do roots this way, or import math module
4**0.5

2.0

In [37]:
# Order of Operations (PEMDAS) followed in Python
2+10*10+3

105

In [38]:
# Can use parenthesis to specify orders
(2+10)*(10+3)

156

## Variable Assignments

Let's see how we can assign names and create variables. We use a single equals sign to assign labels to variables.

In [39]:
# Let's create an object called "a" and assign it the number 5
a = 5

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [40]:
# Adding the objects
a+a

10

What happens on reassignment? Will Python let us write it over?

In [41]:
# Reassignment
a = 10
a

10

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [42]:
# Use A to redefine A
a = a+a
a

20

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    3. It's considered best practice (PEP8) that the names are lowercase.
    4. Names are letters, numbers and underscores.
    5. Names are case sensitive.

Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [44]:
# Use object names to keep better track of what's going on in your code!
my_income = 100
tax_rate = 0.1

my_taxes = my_income*tax_rate
my_taxes

10.0

## FAQ

In [47]:
# This does not equal 0.0 because of floating point accuracy and the
# computer's ability to represent numbers in memory, is nearly zero
0.1+0.2-0.3

5.551115123125783e-17